$primary-color: #fff;
$accent-color: #ed943b;
$dark-color: #333;
$success-color: #42a4f4;
$danger-color: #e23c04;

* {
    font-family: "Exo 2", sans-serif;
    box-sizing: border-box;
}


//  Set text color based on background
@function set-text-color($color) {
    @if(lightness($color) > 50) {
        @return #333;
    }
    @else {
        @return #fff;
    }
}

//  Set background color
@mixin set-background-color($color) {
    background-color: $color;
    color: set-text-color($color);
}

//  Invalid-feedback Formatting
.invalid-feedback {
    margin-left: 2rem;
    font-size: 12px;
    font-weight: bold;
    color: $danger-color;
}