@import 'config';
@import 'utilities';

//  Navbar
.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 0.5rem;
    top: 0;
    left: 0;

    ul {
        list-style: none;
        display: flex;

        li {
            padding: 0 1rem;
        }
    }

    a {
        text-decoration: none;
        color: $accent-color;
        transition: all 0.15s ease-in;

        &:hover {
            color: lighten($accent-color, 20%);
            border-bottom: thin solid lighten($accent-color, 20%);
            padding-bottom: 0.2rem;
        }
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    margin-top: 5.1%;
}

.sidebar {
    flex: 1;
}

.content {
    flex: 5;
    padding: 2rem;
    
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            list-style: none;
            border-radius: 2%;
            padding: 0.5rem;
            margin: 2rem 2rem;
            width: 25%;
            box-shadow: 1px 1px 1px #fff;
        }
    }
}

//  Profile page
.profile {
    margin: 0 7%;
    padding: 1rem;
    display: flex;

    li {
        display: block;
    }
}