{% extends "layout.html" %}

{% block content %}
    <section class="profile bg-primary">
        <div class="left">
            <h2>{{ current_user.username }}</h2>
            <ul>
                <li>Email: {{ current_user.email }}</li>
                <li>Profile Picture: {{ current_user.image_file }}</li>
                <li>Date Joined: {{ current_user.date_created }}</li>
                <li>Last Visit: {{ current_user.last_visit }}</li>
                <li>Number of visits: {{ current_user.visited }}</li>
            </ul>
        </div>
        <div class="right">

        </div>
    </section>
{% endblock content %}