{% extends 'layout.html' %}

{% block content %}
<ul>
    {%  for post in posts %}
        <li class="bg-primary">
            <article>
                <div class="metadata">
                    <a href="#">{{ post.author }}</a>,
                    <small>{{  post.date }}</small>
                </div>
                <hr>
                <h3>{{ post.title }}</h3>
                <p>{{  post.content[:50] }}...  <small><a href="#">more</a></small></p>
            </article>
        </li>
    {% endfor %}
</ul>
{% endblock content %}